Options +Indexes
IndexOptions FancyIndexing
IndexOptions NameWidth=* DescriptionWidth=*
IndexOptions SuppressIcon
IndexOptions SuppressRules
IndexOptions HTMLTable
IndexOptions FoldersFirst
IndexOptions IgnoreCase
IndexOptions SuppressHTMLPreamble

HeaderName header.html
ReadmeName footer.html

IndexIgnore .htaccess header.html footer.html .git .gitignore 